.bg-image {
  /* The image used */
  background-image: url("S:\My Project\images\39.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  padding: 20px;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #ff0;
}

main {
  padding: 50px 10px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-media a {
  margin: 0 10px;
}

.social-media a i {
  font-size: 24px;
}

.hide {
  display: none;
}
